{% extends "base.html.twig" %}

{% block title %} Ajout d'un nouvel entraînement {% endblock %}

{% block body %}
    {% include "security/compte.nav.html.twig" %}
    <h1>Ajouter un entraînement</h1>

    <div class="addConvocForm">
        {{ form_start(formConvoc) }}
            <div class="divForm">
                <div class="errorForm">
                    {{ form_errors(formConvoc.equipes) }}
                </div>
                <div class="d-flex">
                    {{ form_label(formConvoc.equipes) }}
                    {{ form_widget(formConvoc.equipes) }}
                </div>
            </div>
            <div class="divForm">
                <div class="errorForm">
                    {{ form_errors(formConvoc.day) }}
                </div>
                <div class="d-flex">
                    {{ form_label(formConvoc.day) }}
                    {{ form_widget(formConvoc.day) }}
                </div>
            </div>
            <div class="divForm">
                <div class="errorForm">
                    {{ form_errors(formConvoc.horaire) }}
                </div>
                <div class="d-flex">
                    {{ form_label(formConvoc.horaire) }}
                    <div class="d-flex hourMinuteForm">
                        {{ form_row(formConvoc.horaire.hour, {'label': 'Heure', 'attr': {'class': 'form-control input'}}) }}
                        {{ form_row(formConvoc.horaire.minute, {'label': 'Minute', 'attr': {'class': 'form-control input'}}) }}
                    </div>
                </div>
            </div>
            <div class="divForm">
                <div class="errorForm">
                    {{ form_errors(formConvoc.address) }}
                </div>
                <div class="d-flex">
                    {{ form_label(formConvoc.address) }}
                    {{ form_widget(formConvoc.address) }}
                </div>
            </div>
            <button class="form-control submit" type="submit">Ajouter</button>
        {{ form_end(formConvoc) }}
    </div>

{% endblock %}