{% extends "base.html.twig" %}

{% block title %} Modification d'un entraînement {% endblock %}

{% block body %}
    {% include "security/compte.nav.html.twig" %}
    <h1>Modifier l'entraînement de l'équipe {{ equipe.name }}</h1>
    {{ form_start(formConvoc) }}
    <div class="divForm">
        <div class="errorForm">
            {{ form_errors(formConvoc.day) }}
        </div>
        <div class="d-flex">
            {{ form_label(formConvoc.day) }}
            {{ form_widget(formConvoc.day) }}
        </div>
    </div>
    <div class="divForm">
        <div class="errorForm">
            {{ form_errors(formConvoc.horaire) }}
        </div>
        <div class="d-flex">
            {{ form_label(formConvoc.horaire) }}
            {{ form_widget(formConvoc.horaire) }}
        </div>
    </div>
    <div class="divForm">
        <div class="errorForm">
            {{ form_errors(formConvoc.address) }}
        </div>
        <div class="d-flex">
            {{ form_label(formConvoc.address) }}
            {{ form_widget(formConvoc.address) }}
        </div>
    </div>
    <div class="d-none">
        {{ form_label(formConvoc.equipes) }}
        {{ form_widget(formConvoc.equipes) }}
    </div>
    <button class="form-control submit" type="submit">Modifier</button>
    {{ form_end(formConvoc) }}

{% endblock %}