{% extends 'base.html.twig' %}

{% block title %} Administration des entraînements {% endblock %}

{% block body %}
    {% include "security/compte.nav.html.twig" %}

    <div id="blocEntrainement">
        <h1> Gestion des entrainements </h1>
        <a id="addConvoc" href="{{ path("ajouterEntrainement") }}">Ajouter un entraînement +</a>
        <div class="d-flex justify-content-center position-relative">
            <h2 id="h2Convoc"> Pour voir les entraînements d'une équipe -> </h2>
            <div>
                <select name="listEquipe" id="selectTeam">
                    <optgroup label="Equipes Garçons">
                        {% for equipeB in equipesBoy %}
                            <option value="{{ equipeB.id }}">{{ equipeB.name }}</option>
                        {% endfor %}
                    </optgroup>
                    <optgroup label="Equipes Filles">
                        {% for equipeF in equipesGirl %}
                            <option value="{{ equipeF.id }}">{{ equipeF.name }}</option>
                        {% endfor %}
                    </optgroup>
                    <optgroup label="Equipes Loisir">
                        {% for equipeL in equipesLoisir %}
                            <option value="{{ equipeL.id }}">{{ equipeL.name }}</option>
                        {% endfor %}
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="convocations">
        </div>

    </div>
    <div class="confirmationSup"></div>


{% endblock %}

{% block javascripts %}
    <script>
        function sendAjaxController(id) {
            $.ajax({
                method: "POST",
                url: "{{ path("ajax_equipe") }}",
                data: {id: id},
                success: function (responses) {
                    console.log(responses);
                    if (responses.length === 0)
                    {
                        let noConvoc = $("<p>", {
                            text: "Il n'y a aucun entraînement de programmé pour cette équipe",
                            class: "anyConvoc"
                        });

                        $(".convocations").append(noConvoc);
                    }
                    else
                    {
                        responses.forEach((datas) => {
                            console.log(datas.horaire.timestamp);
                            htmlResponseAjaxConvoc("{{ path("modifierEntrainement", {"id": "text"}) }}",
                                "{{ path("supprimerEntrainement", {"id": "text"}) }}",
                                datas.day, datas.horaire.timestamp, datas.address, datas.id);
                        });
                    }
                }
            });
        }
        let valTeam = $("#selectTeam option:selected").val();
        sendAjaxController(valTeam);

        $("#selectTeam").change(function () {
            valTeam = $("#selectTeam option:selected").val();
            //console.log(valTeam);
            $(".convocations").text("");
            sendAjaxController(valTeam);
        });

    </script>
{% endblock %}


