{% extends 'base.html.twig' %}

{% block title %} Entraînements {% endblock %}

{% block body %}
    {% include "security/admin/compte.nav.html.twig" %}

    <h1> Gestion des entrainements </h1>
    <a href="{{ path("ajouterEntrainement") }}">Ajouter entraînement</a>
    <div>
        <select name="list" id="selectTeam">
            <option value="basique">Sélectionner une équipe</option>
            <optgroup label="Equipes Garçons">
                {% for equipeB in equipesBoy %}
                <option value="{{ equipeB.id }}">{{ equipeB.name }}</option>
                {% endfor %}
            </optgroup>
            <optgroup label="Equipes Filles">
                {% for equipeF in equipesGirl %}
                <option value="{{ equipeF.id }}">{{ equipeF.name }}</option>
                {% endfor %}
            </optgroup>
        </select>
    </div>

    <div class="convocations">


    </div>

{% endblock %}
