{% block body %}

    <div class="d-flex menu-compte">
        {% if is_granted('ROLE_USER') %}
            <div id="compte1">
                <p><a id="compte1child" href="{{ path("homeCompte") }}">Gestion Compte</a></p>
            </div>
            {% if is_granted("ROLE_EDITOR") %}
                <div id="compte2">
                    <p><a id="compte2child" href="{{ path("articles") }}">Gestion Articles</a></p>
                </div>
                <div id="compte3">
                    <p><a id="compte3child" href="{{ path("equipes") }}">Gestion Club</a></p>
                </div>
                {% if is_granted("ROLE_ADMIN") %}
                    <div id="compte4">
                        <p><a id="compte4child" href="{{ path("users") }}">Gestion Utilisateurs</a></p>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}

    </div>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success SuccessContact">
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}

