{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialisation du mot de passe</h1>
    <div class="position-relative">
        <h2 class="text-center">Veuillez entrer votre nouveau mot de passe ci-dessous.</h2>
        {{ form_start(formResetPassword) }}
            <div class="divForm">
                <div class="errorForm">
                    {{ form_errors(formResetPassword.password) }}
                </div>
                <div class="d-flex">
                    {{ form_label(formResetPassword.password) }}
                    {{ form_widget(formResetPassword.password) }}
                </div>
            </div>
            <div class="divForm">
                <div class="errorForm">
                    {{ form_errors(formResetPassword.confirm_password) }}
                </div>
                <div class="d-flex">
                    {{ form_label(formResetPassword.confirm_password) }}
                    {{ form_widget(formResetPassword.confirm_password) }}
                </div>
            </div>

            <button class="form-control submit" type="submit">Valider</button>
        {{ form_end(formResetPassword) }}
    </div>

{% endblock %}