{% extends "base.html.twig" %}

{% block title %} Ajout d'un nouvel article {% endblock %}

{% block body %}
    {% include "security/compte.nav.html.twig" %}

    <h1>Ajouter un article</h1>
    <div class="addArticleForm">
        {{ form_start(formArticle) }}
        <div class="divForm">
            <div class="errorForm">
                {{ form_errors(formArticle.title) }}
            </div>
            <div class="d-flex">
                {{ form_label(formArticle.title) }}
                {{ form_widget(formArticle.title) }}
            </div>
        </div>
        <div class="divForm">
            <div class="errorForm">
                {{ form_errors(formArticle.content) }}
            </div>
            <div class="d-flex">
                {{ form_label(formArticle.content) }}
                {{ form_widget(formArticle.content) }}
            </div>
        </div>
        <div class="divForm">
            <div class="errorForm">
                {{ form_errors(formArticle.category) }}
            </div>
            <div class="d-flex">
                {{ form_label(formArticle.category) }}
                {{ form_widget(formArticle.category) }}
            </div>
        </div>
        <div class="divForm">
            <div class="errorForm">
                {{ form_errors(formArticle.prioritaire) }}
            </div>
            <div class="d-flex">
                {{ form_label(formArticle.prioritaire) }}
                {{ form_widget(formArticle.prioritaire) }}
            </div>
        </div>

        <div class="divForm">
            <div class="errorForm">
                {{ form_errors(formArticle.images) }}
            </div>
            <div class="d-flex">
                {{ form_label(formArticle.images) }}
                {{ form_widget(formArticle.images) }}
            </div>
        </div>

        <button class="form-control submit" type="submit">Ajouter</button>
        {{ form_end(formArticle) }}
    </div>

{% endblock %}