{% extends "base.html.twig" %}

{% block title %} Articles - {{ article.title}} {% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success SuccessContact">
            {{ message }}
        </div>
    {% endfor %}

    <div class="post">
        <h1>{{ article.title }} - Le {{ article.createdAt | date("d/m/Y") }}</h1>
        <p class="postCategory">Catégorie :
            {% for categoryTest in article.category %}
                <span>{{ categoryTest.title }}</span>
            {% endfor %}
        </p>
        <div class="d-flex flex-column justify-content-center postContent">
            {% if photoImportante.imageName is defined and photoImportante.imageName is not null %}
                <div class="aggrandirImage">
                    <img class="imageImportant" src="{{ asset(vich_uploader_asset(photoImportante, "imageFile") |
                        imagine_filter("equipeAffichage")) }}" alt="photo principale de l'article">
                </div>
            {% else %}
                {% if is_granted("ROLE_EDITOR") %}
                    <a class="photoEnAvant" href="{{ path("modifierArticle", {"slug": article.slug}) }}">
                        Mettre une photo en avant</a>
                {% endif %}
            {% endif %}
            {{ article.content | raw }}
        </div>
    </div>

    <button class="afficherPhotoArticle">Afficher les autres photos de l'article</button>
    <div class="blocAutrePhotoArticle">
        {% if photoArticles|length > 0 %}
            <div class="chevron-gauche">
                <p class="cercle"></p>
                <p class="chevronG-part1"></p>
                <p class="chevronG-part2"></p>
            </div>
            <div class="chevron-droit">
                <p class="cercle"></p>
                <p class="chevronD-part1"></p>
                <p class="chevronD-part2"></p>
            </div>
            <div class="diaporama"></div>
            <div class="play">
                <p class="cercle"></p>
                <p class="chevronPlay-part1"></p>
                <p class="chevronPlay-part2"></p>
                <p class="chevronPlay-part3"></p>
            </div>
            <div class="pause">
                <p class="cercle"></p>
                <p class="chevronPause-part1"></p>
                <p class="chevronPause-part2"></p>
            </div>

        {% else %}
            <div class="addPhotoArticle">
                <p>Il n'y a pas d'autres photos pour cet article</p>
                {% if is_granted("ROLE_EDITOR") %}
                    <a href="{{ path("modifierArticle", {"slug": article.slug}) }}">Ajouter des photos</a>
                {% endif %}
            </div>
        {% endif %}
    </div>



    <div class="d-flex addCommentPost">
        <h2>Pour ajouter un commentaire : </h2>
        <button class="addCommentButton">Cliquer ici</button>
    </div>

    {% if app.user %}
        {{ form_start(formComment) }}
        <div class="addComment">
            <div class="divForm">
                <div class="errorForm">
                    {{ form_errors(formComment.content) }}
                </div>
                <div class="d-flex">
                    {{ form_label(formComment.content) }}
                    {{ form_widget(formComment.content) }}
                </div>
            </div>
            <button class="form-control submit" type="submit">Ajouter</button>
        </div>

        {{ form_end(formComment) }}
    {% else %}
        <div class="addComment">
            <p>Veuillez vous connecter pour ajouter un commentaire</p>
            <a href="{{ path("security_login") }}">Connexion</a>
        </div>

    {% endif %}


    {% for comment in article.comments | sort((b, a) => a.createdAt <=> b.createdAt) %}
        <div class="showComment">
            <h3>{{ comment.author }} - {{ comment.createdAt | date("d/m/Y") }}</h3>
            <div class="commentContent"> {{ comment.content | raw}}</div>
            {% if is_granted("ROLE_EDITOR") %}
                <div class="d-flex justify-content-around adminComment">
                    <a class="commentEdit" href="{{ path("modifierComment", {"id": comment.id}) }}">Editer</a>
                    <button onclick='deleteConfirm({{ comment.id }}, "Voulez-vous vraiment supprimer ce commentaire",
                            "{{ comment.author }}", "{{ path("supprimerComment", {"id": "text"}) }}",
                            "#confirmationSupComment{{ comment.id }}")'
                            class="confirmSup">Supprimer</button>
                    <div class="position-absolute confirmationSupCom" id="confirmationSupComment{{ comment.id }}"></div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script>
        let diaporama = new Diaporama(0, "#diapo-", {{ photoArticles|length }}, 1,
            ".play", ".pause", false, ".chevron-gauche", ".chevron-droit");
        diaporama.ajouterDiaporama();
        let i = 0;
        {% for photoArticle in photoArticles %}
        i++;
        let slide{{ photoArticle.id }} = new Slide($("<img>"), ".diaporama", "diapo-" + i, "diapos",
            "{{ asset(vich_uploader_asset(photoArticle, "imageFile") | imagine_filter("equipeAffichage")) }}",
            "autre photo de l'article", 600, 450);
        slide{{ photoArticle.id }}.ajouterSlide();
        {% endfor %}
        diaporama.affichageHoraire();
        diaporama.playInterval(diaporama.affichageHoraire, 5000);

    </script>

{% endblock %}