{% extends "base.html.twig" %}

{% block title %} Présentation du club {% endblock %}

{% block body %}
    <h1> La vie au club </h1>
    <h2> Présentation </h2>
    {% for category in article.category %}
        {% if category.title == "Club" %}
        <div class="postClub">
            <h3><i class="fas fa-basketball-ball"></i>
                <a href="{{ path("show-article", {"slug": article.slug}) }}"> {{ article.title }} -
                    {{ article.createdAt | date("d/m/Y") }}</a></h3>
            <div>
                {{ article.content | truncate(400, true, "...") | raw}}
                <a href="{{ path("show-article", {"slug": article.slug}) }}">Lire la suite</a>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    <h2> Trombinoscope - Membres du bureau </h2>
{% endblock %}