{% extends "base.html.twig" %}

{% block title %} Administration Boutique {% endblock %}

{% block body %}
    {% include "security/compte.nav.html.twig" %}

    <h1>Gestion de la Boutique</h1>

    <div class="d-flex justify-content-center position-relative ajoutBoutique">
        <a href="{{ path("addProduit") }}">Ajouter un produit</a>
        <a href="{{ path("addColor") }}">Ajouter une couleur</a>
        <a href="{{ path("addTaille") }}">Ajouter une taille</a>
    </div>

    {% for produit in produits %}
        <div class="blocProduit">
            <a href="{{ path("ficheProduit", {"slug": produit.slug}) }}">{{ produit.name }}</a>

            {% for couleur in produit.colors %}
                <p>{{ couleur.name }} -
                    Tailles :
                    {% for taille in couleur.tailles %}
                        {{ taille.name }} (quantité = {{ taille.quantity}})
                    {% endfor %}
                </p>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}