{% extends "base.html.twig" %}

{% block title %} Administration Boutique {% endblock %}

{% block body %}
    {% include "security/compte.nav.html.twig" %}

    <h1>Gestion de la Boutique</h1>

    <div class="d-flex justify-content-center position-relative ajoutBoutique">
        <a href="{{ path("addProduit") }}">Ajouter un produit</a>
        <a href="{{ path("addColor") }}">Ajouter une couleur</a>
        <a href="{{ path("addTaille") }}">Ajouter une taille</a>
    </div>

    <p>Q = Quantité restante d'une taille par rapport à la couleur d'un produit</p>

    <div class="blocGestionProduits">
        {% for produit in produits %}
            <div class="blocGestionProduit">
                <h2><a href="{{ path("ficheProduit", {"slug": produit.slug}) }}">{{ produit.name }} -
                    {{ produit.price }} €</a></h2>
                <div>
                    {% for couleur in produit.colors %}
                        <p> <span class="colors">{{ couleur.name|upper }}</span> -> tailles :
                        {% for taille in couleur.tailles %}
                            <span class="tailles">{{ taille.name }}</span> (Q={{ taille.quantity }})
                            {% else %}
                            Il n'y a pas encore de tailles pour cette couleur
                        {% endfor %}
                        </p>
                    {% else %}
                            <p>Il n'y a pas encore de couleur pour ce produit</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>




{% endblock %}