{% extends "base.html.twig" %}

{% block title %} Administration des équipes {% endblock %}

{% block body %}
    {% include "security/compte.nav.html.twig" %}

    <h1> Gestion des équipes </h1>
    <div id="addTeam">
        <a href="{{ path("ajouterEquipe") }}">Ajouter une équipe + </a>
        <a href="{{ path("entrainement") }}">Gestion des entrainements</a>
    </div>

    <div class="d-flex justify-content-around position-relative bigBlocTeam">
        <ul class="blocTeam">
            <li class="typeTeam">Equipes garçons :</li>
            {% for equipe in equipes.findAll() %}
                {% if equipe.type == "garçons" %}
                    <li><ul class="d-flex justify-content-center compteTeam">
                        <li><a class="nameTeam" href="{{ path("equipe", {"slug":  equipe.slug , "type": equipe.type }) }}">
                                {{ equipe.name }}</a>
                        </li>
                        <li class="modifTeam"><a href="{{ path("modifierEquipe", {"slug": equipe.slug}) }}">Modifier</a></li>
                        <li><button onclick='deleteConfirm({{ equipe.id }}, "Voulez-vous vraiment supprimer cette equipe",
                                "{{ equipe.name }}", "{{ path("supprimerEquipe", {"id": "text"}) }}",
                                "#confirmationSupConvoc{{ equipe.id }}")'
                                    class="confirmSup">Supprimer</button></li>
                        <li class="confirmationSupTeam" id="confirmationSupConvoc{{ equipe.id }}">
                        </li>
                    </ul></li>
                {% endif %}
            {% endfor %}
        </ul>
        <ul class="blocTeam">
            <li class="typeTeam">Equipes filles :</li>
            {% for equipe in equipes.findAll() %}
                {% if equipe.type == "filles" %}
                    <li><ul class="d-flex justify-content-center compteTeam">
                        <li><a class="nameTeam" href="{{ path("equipe", {"slug":  equipe.slug , "type": equipe.type }) }}">
                                {{ equipe.name }}</a></li>
                        <li class="modifTeam"><a href="{{ path("modifierEquipe", {"slug": equipe.slug}) }}">Modifier</a></li>
                        <li><button onclick='deleteConfirm({{ equipe.id }}, "Voulez-vous vraiment supprimer cette equipe",
                                "{{ equipe.name }}", "{{ path("supprimerEquipe", {"id": "text"}) }}",
                                "#confirmationSupConvoc{{ equipe.id }}")'
                                class="confirmSup">Supprimer</button></li>
                        <li class="confirmationSupTeam" id="confirmationSupConvoc{{ equipe.id }}">
                        </li>
                    </ul></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
        <ul class="blocTeam">
            <li class="typeTeam">Equipes loisir :</li>
            {% for equipe in equipes.findAll() %}
                {% if equipe.type == "loisir" %}
                    <li><ul class="d-flex justify-content-center compteTeam">
                        <li><a class="nameTeam" href="{{ path("equipe", {"slug":  equipe.slug , "type": equipe.type }) }}">
                                {{ equipe.name }}</a></li>
                        <li class="modifTeam"><a href="{{ path("modifierEquipe", {"slug": equipe.slug}) }}">Modifier</a></li>
                        <li><button onclick='deleteConfirm({{ equipe.id }}, "Voulez-vous vraiment supprimer cette equipe",
                                "{{ equipe.name }}", "{{ path("supprimerEquipe", {"id": "text"}) }}",
                                "#confirmationSupConvoc{{ equipe.id }}")'
                                class="confirmSup">Supprimer</button></li>
                        <li class="confirmationSupTeam" id="confirmationSupConvoc{{ equipe.id }}">
                        </li>
                    </ul></li>
                {% endif %}
            {% endfor %}
        </ul>

    <h2 class="titreMembre"> Gestion des membres du club </h2>
    <div id="addMembre">
        <a href="{{ path("ajouterMembreClub") }}">Ajouter un membre + </a>
    </div>
    <div class="d-flex justify-content-around position-relative bigBlocMember">
        <ul class="blocTeam">
            <li class="typeTeam">Membres du bureau :</li>
            {% for member in memberClubs %}
                {% for fonction in member.fonctionClub %}
                    {% if fonction.name == "Membre du bureau" %}
                        <li><ul class="d-flex justify-content-center compteTeam">
                            <li class="miseEnPage"><a class="nameTeam" href="{{ path("pageMembre", {"id": member.id }) }}">
                                    {{ member.name }} {{ member.surname }}</a></li>
                            <li><ul class="d-flex justify-content-center blocActionMember">
                                <li class="modifTeam"><a href="{{ path("modifierMembreClub", {"id": member.id}) }}">Modifier</a></li>
                                <li><button onclick='deleteConfirm({{ member.id }}, "Voulez-vous vraiment supprimer ce membre",
                                            "{{ member.name }} {{ member.surname }}", "{{ path("supprimerMembreClub", {"id": "text"}) }}",
                                            "#confirmationSupMemberBureau{{ member.id }}")'
                                            class="confirmSup">Supprimer</button></li>
                                <li class="confirmationSupTeam" id="confirmationSupMemberBureau{{ member.id }}"></li>
                            </ul></li>
                        </ul></li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>

        <ul class="blocTeam">
            <li class="typeTeam">Arbitres :</li>
            {% for member in memberClubs %}
                {% for fonction in member.fonctionClub %}
                    {% if fonction.name == "Arbitre" %}
                        <li><ul class="d-flex justify-content-center compteTeam">
                                <li class="miseEnPage"><a class="nameTeam" href="{{ path("pageMembre", {"id": member.id }) }}">
                                        {{ member.name }} {{ member.surname }}</a></li>
                                <li><ul class="d-flex justify-content-center blocActionMember">
                                    <li class="modifTeam"><a href="{{ path("modifierMembreClub", {"id": member.id}) }}">Modifier</a></li>
                                    <li><button onclick='deleteConfirm({{ member.id }}, "Voulez-vous vraiment supprimer ce membre",
                                                "{{ member.name }} {{ member.surname }}", "{{ path("supprimerMembreClub", {"id": "text"}) }}",
                                                "#confirmationSupMemberArbitre{{ member.id }}")'
                                                class="confirmSup">Supprimer</button></li>
                                    <li class="confirmationSupTeam" id="confirmationSupMemberArbitre{{ member.id }}"></li>
                                </ul></li>
                            </ul></li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    </div>

    <div class="d-flex justify-content-around position-relative bigBlocMember">
        <ul class="blocTeam">
            <li class="typeTeam">Officiels table de marque :</li>
            {% for member in memberClubs %}
                {% for fonction in member.fonctionClub %}
                    {% if fonction.name == "OTM" %}
                        <li><ul class="d-flex justify-content-center compteTeam">
                                <li class="miseEnPage"><a class="nameTeam" href="{{ path("pageMembre", {"id": member.id }) }}">
                                        {{ member.name }} {{ member.surname }}</a></li>
                                <li><ul class="d-flex justify-content-center blocActionMember">
                                    <li class="modifTeam"><a href="{{ path("modifierMembreClub", {"id": member.id}) }}">Modifier</a></li>
                                    <li><button onclick='deleteConfirm({{ member.id }}, "Voulez-vous vraiment supprimer ce membre",
                                                "{{ member.name }} {{ member.surname }}", "{{ path("supprimerMembreClub", {"id": "text"}) }}",
                                                "#confirmationSupMemberOTM{{ member.id }}")'
                                                class="confirmSup">Supprimer</button></li>
                                    <li class="confirmationSupTeam" id="confirmationSupMemberOTM{{ member.id }}"></li>
                                </ul></li>
                            </ul></li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>

        <ul class="blocTeam">
            <li class="typeTeam">Entraîneurs :</li>
            {% for member in memberClubs %}
                {% for fonction in member.fonctionClub %}
                    {% if fonction.name == "Entraineur" %}
                        <li><ul class="d-flex justify-content-center compteTeam">
                                <li class="miseEnPage"><a class="nameTeam" href="{{ path("pageMembre", {"id": member.id }) }}">
                                        {{ member.name }} {{ member.surname }}</a></li>
                                <li><ul class="d-flex justify-content-center blocActionMember">
                                    <li class="modifTeam"><a href="{{ path("modifierMembreClub", {"id": member.id}) }}">Modifier</a></li>
                                    <li><button onclick='deleteConfirm({{ member.id }}, "Voulez-vous vraiment supprimer ce membre",
                                                "{{ member.name }} {{ member.surname }}", "{{ path("supprimerMembreClub", {"id": "text"}) }}",
                                                "#confirmationSupMemberCoach{{ member.id }}")'
                                                class="confirmSup">Supprimer</button></li>
                                    <li class="confirmationSupTeam" id="confirmationSupMemberCoach{{ member.id }}"></li>
                                </ul></li>
                            </ul></li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    </div>

    <div class="bigBlocOther">
        <ul class="blocTeam">
            <li class="typeTeam">Autres membres :</li>
            {% for member in memberClubs %}
                {% if member.fonctionClub is empty %}
                    <li><ul class="d-flex compteTeam">
                        <li class="miseEnPageOther"><a class="nameTeam" href="{{ path("pageMembre", {"id": member.id }) }}">
                                {{ member.name }} {{ member.surname }}</a></li>
                        <li class="actionMember"><ul class="d-flex justify-content-center blocActionMember">
                            <li class="modifTeam"><a href="{{ path("modifierMembreClub", {"id": member.id}) }}">Modifier</a></li>
                            <li><button onclick='deleteConfirm({{ member.id }}, "Voulez-vous vraiment supprimer ce membre",
                                        "{{ member.name }} {{ member.surname }}", "{{ path("supprimerMembreClub", {"id": "text"}) }}",
                                        "#confirmationSupMemberAutre{{ member.id }}")'
                                        class="confirmSup">Supprimer</button></li>
                            <li class="confirmationSupTeam" id="confirmationSupMemberAutre{{ member.id }}"></li>
                        </ul></li>
                    </ul></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <h2 class="titreMembre"> Gestion des sponsors </h2>

    <div id="addSponsor">
        {% for sponsor in sponsors %}
        <a href="{{ path("modifierSponsor", {"id": sponsor.id}) }}">modifier les sponsor </a>
        {% endfor %}
    </div>





{% endblock %}