{% extends "base.html.twig" %}

{% block title %} Administration des articles {% endblock %}

{% block body %}
    {% include "security/compte.nav.html.twig" %}

    <h1> Gestion des articles</h1>

    <a id="addPost" href="{{ path("ajouterArticle") }}">Ajouter un article +</a>

    <div id="trierArticle" class="d-flex justify-content-center position-relative">
        <h2 id="h2Article">Pour trier l'affichage des articles -> </h2>
        <div>
            <select name="listCategory" id="selectPost">
                <option value="all">Tous les articles</option>
                {% for category in categorys %}
                    <option value="{{ category.id }}">{{ category.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="d-flex position-relative headArticle">
        <p class="articles">Articles</p>
        <p class="categories">Catégorie(s)</p>
        <p></p>
        <p></p>
    </div>
    <div id="blocPostAll">
        {% for article in articles %}
            <div class="d-flex justify-content-around divPost">
                <div class="divTitle">
                    <a class="postLink" href="{{ path("show-article", {"slug": article.slug}) }}">
                         {{ article.title }}
                    </a>
                </div>
                <div class="d-flex divCategory">
                    <div class="d-flex">
                        {% for category in article.category %}
                            <p>{{ category.title }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="d-flex flex-column modifPostDiv">
                    <a class="modifPost" href="{{ path("modifierArticle", {"slug": article.slug}) }}">
                        Modifier
                    </a>
                </div>
                <div class="supPostDiv">
                    <button onclick='deleteConfirm({{ article.id }}, "Voulez-vous vraiment supprimer cet article",
                            "{{ article.title | replace({'"':'\''}) }}", "{{ path("supprimerArticle", {"id": "text"}) }}",
                            "#confirmationSupPost{{ article.id }}")'
                            class="confirmSup">Supprimer</button>
                </div>
                <div class="confirmationSupPost" id="confirmationSupPost{{ article.id }}">

                </div>
            </div>
        {% endfor %}
    </div>

    <div class="d-flex flex-column blocPost">
    </div>



{% endblock %}

{% block javascripts %}
    <script>



        function sendAjaxController(id) {
            $.ajax({
                method: "POST",
                url: "{{ path("ajax_article") }}",
                data: {id: id},
                success: function (responses) {
                    responses.sort(function(a, b){return b-a});

                    responses.forEach((datas) => {
                        console.log(datas.id);

                        htmlResponseAjax("{{ path("show-article", {"slug": "text"}) }}",
                            "{{ path("modifierArticle", {"slug": "text"}) }}",
                            "{{ path("supprimerArticle", {"id": "text"}) }}",
                            datas.slug, datas.title, datas.category, datas.id);

                    });
                }
            });
        }

        let id = $("#selectPost option:selected").val();
        if (id === "all")
        {
            $("#blocPostAll").css("display", "block");
        }
        else
        {
            $("#blocPostAll").css("display", "none");
            sendAjaxController(id);
        }

        $("#selectPost").change(function () {
            id = $("#selectPost option:selected").val();
            $(".blocPost").text("");
            if (id === "all")
            {
                $("#blocPostAll").css("display", "block");
            }
            else
            {
                $("#blocPostAll").css("display", "none");
                sendAjaxController(id);
            }

        });
    </script>
{% endblock %}