{% extends "base.html.twig" %}

{% block title %} Administration du compte {% endblock %}

{% block body %}

    {% include "security/compte.nav.html.twig" %}
    <h1> Gestion Compte </h1>

    <div class="d-flex justify-content-around blocProfil">

        {% if photoUser.imageName is defined and photoUser.imageName is not null %}
        <div class="profilPicture">
            <h2> Profil {{ user.username }}</h2>
            <a href="{{ path("modifierPhotoProfil", {"slug": user.slug}) }}">
                <img src="{{ vich_uploader_asset(photoUser, "imageFile") | imagine_filter("thumb") }}"
                     alt="photo de profil utilisateur"
                title="Cliquer pour modifier !"></a>
        </div>
        {% else %}
        <div class="profilPictureVide">
            <h2> Profil {{ user.username }}</h2>
            <a href="{{ path("ajouterPhotoProfil", {"slug": user.slug}) }}">
                <em class="fas fa-portrait" title="Cliquer pour ajouter !"></em>
            </a>
        </div>
        {% endif %}

        <div class="profil">

            {% if user.nom %}
                <p> NOM : <span>{{ user.nom | capitalize }}</span></p>
            {% else %}
                <p> NOM : <span>Non renseignée</span></p>
            {% endif %}

            {% if user.prenom %}
                <p> PRÉNOM : <span>{{ user.prenom | capitalize }}</span></p>
            {% else %}
                <p> PRÉNOM : <span>Non renseignée</span></p>
            {% endif %}

            <p> EMAIL : <span>{{ user.email }}</span></p>

        </div>
        <div class="d-flex flex-column actionProfil">
            <a class="modifInfosProfil" href="{{ path("modifierInfosProfil", {"slug": user.slug}) }}">
                Modifier les infos du profil</a>
            <a class="modifMDP" href="{{ path("modifMotDePasse", {"slug": user.slug}) }}">Modifier le mot de passe</a>
            {% if photoUser.imageName is defined and photoUser.imageName is not null %}
                <a class="modifPhotoProfil" href="{{ path("modifierPhotoProfil", {"slug": user.slug}) }}">
                    Modifier la photo de profil</a>
                <button onclick='deleteConfirm({{ photoUser.id }}, "Voulez-vous vraiment supprimer cette photo",
                        "{{ photoUser.imageName }}", "{{ path("supprimerPhotoProfil", {"id": "text"}) }}",
                        "#confirmationSupPhoto{{ photoUser.id }}")'
                        class="confirmSup">Supprimer la photo de profil</button>
                <div class="confirmationSupPhoto" id="confirmationSupPhoto{{ photoUser.id }}"></div>

            {% else %}
                <a href="{{ path("ajouterPhotoProfil", {"slug": user.slug}) }}">Ajouter une photo de profil</a>
            {% endif %}
            <button onclick='deleteConfirm({{ user.id }}, "Voulez-vous vraiment supprimer votre compte",
                    "{{ user.username }}", "{{ path("supprimerCompte", {"id": "text"}) }}",
                    "#confirmationSupPhoto{{ user.id }}")'
                    class="confirmSup">Supprimer le compte</button>
            <div class="confirmationSupPhoto" id="confirmationSupPhoto{{ user.id }}"></div>
        </div>
    </div>
    <div>
        {% for commande in user.orders %}
            <h3> {{ commande.name }}</h3>
            <p> Couleur : {{ commande.color }}</p>
            <p> Taille : {{ commande.tailleOrder }}</p>
            <p> Quantité : {{ commande.quantity }}</p>
            <p> Prix : {{ commande.price }} €</p>
        {% endfor %}
    </div>
{% endblock %}
