{% extends 'base.html.twig' %}

{% block title %} Modification du profil {% endblock %}

{% block body %}
    <h1> Modifier les informations du profil </h1>

    {{ form_start(formInfosUser) }}
    <div class="divForm">
        <div class="errorForm">
            {{ form_errors(formInfosUser.username) }}
        </div>
        <div class="d-flex">
            {{ form_label(formInfosUser.username) }}
            {{ form_widget(formInfosUser.username) }}
        </div>
    </div>

    <div class="divForm">
        <div class="errorForm">
            {{ form_errors(formInfosUser.email) }}
        </div>
        <div class="d-flex">
            {{ form_label(formInfosUser.email) }}
            {{ form_widget(formInfosUser.email) }}
        </div>
    </div>

    <div class="divForm">
        <div class="errorForm">
            {{ form_errors(formInfosUser.nom) }}
        </div>
        <div class="d-flex">
            {{ form_label(formInfosUser.nom) }}
            {{ form_widget(formInfosUser.nom) }}
        </div>
    </div>

    <div class="divForm">
        <div class="errorForm">
            {{ form_errors(formInfosUser.prenom) }}
        </div>
        <div class="d-flex">
            {{ form_label(formInfosUser.prenom) }}
            {{ form_widget(formInfosUser.prenom) }}
        </div>
    </div>

    <div class="divForm">
        <div class="errorForm">
            {{ form_errors(formInfosUser.telephone) }}
        </div>
        <div class="d-flex">
            {{ form_label(formInfosUser.telephone) }}
            {{ form_widget(formInfosUser.telephone) }}
        </div>
    </div>

    <div class="divForm">
        <div class="errorForm">
            {{ form_errors(formInfosUser.fonctionClub) }}
        </div>
        <div class="d-flex">
            {{ form_label(formInfosUser.fonctionClub) }}
            {{ form_widget(formInfosUser.fonctionClub) }}
        </div>
    </div>
    <div class="divForm">
        <div class="errorForm">
            {{ form_errors(formInfosUser.photo) }}
        </div>
        <div class="d-flex">
            {{ form_label(formInfosUser.photo) }}
            {{ form_widget(formInfosUser.photo) }}
        </div>
    </div>

    <button class="form-control submit" type="submit">Modifier</button>

    {{ form_end(formInfosUser) }}

{% endblock %}