{% extends "base.html.twig" %}

{% block title %} Modification d'un commentaire {% endblock %}

{% block body %}

    <h1>Modifier le commentaire</h1>
    <div class="blocEditComment">
        {{ form_start(formComment) }}
        <div class="divForm">
            <div class="errorForm">
                {{ form_errors(formComment.author) }}
            </div>
            <div class="d-flex">
                {{ form_label(formComment.author) }}
                {{ form_widget(formComment.author) }}
            </div>
        </div>
        <div class="divForm">
            <div class="errorForm">
                {{ form_errors(formComment.content) }}
            </div>
            <div class="d-flex">
                {{ form_label(formComment.content) }}
                {{ form_widget(formComment.content) }}
            </div>
        </div>

        <button class="form-control submit" type="submit">Modifier</button>
        {{ form_end(formComment) }}
    </div>

{% endblock %}