{% extends "base.html.twig" %}

{% block title %} Page membre {{ membreClub.name }} {% endblock %}

{% block body %}

    {% include "security/compte.nav.html.twig" %}

    <h1> Page du membre "{{ membreClub.name }} {{ membreClub.surname | capitalize }}"</h1>
    <div class="d-flex flex-column blocEditUser">
        {% if membreClub.imageName is defined and membreClub.imageName is not null %}
            <div class="profilPicture">
                <a href="{{ path("modifierMembreClub", {"id": membreClub.id}) }}">
                    <img src="{{ vich_uploader_asset(membreClub, "imageFile") | imagine_filter("thumb") }}"
                         alt="photo du membre"
                         title="Cliquer pour modifier !">
                </a>
            </div>
        {% else %}
            <div class="profilPictureVide">
                <a href="{{ path("modifierMembreClub", {"id": membreClub.id}) }}">
                    <i class="fas fa-portrait" title="Cliquer pour ajouter !"></i>
                </a>
            </div>
        {% endif %}

        <div class="profil">
            <p> NOM : <span>{{ membreClub.surname | capitalize }}</span></p>
            <p> PRÉNOM : <span>{{ membreClub.name | capitalize }}</span></p>
            <p> EMAIL : <span>{{ membreClub.email }}</span></p>
            {% if membreClub.telephone %}
                <p> TÉLÉPHONE : <span>{{ membreClub.telephone }}</span></p>
            {% else %}
                <p> TÉLÉPHONE : <span>Non renseigné</span></p>
            {% endif %}
        </div>

        <div class="d-flex flex-column actionProfil">
            <a class="modifInfosProfil" href="{{ path("modifierMembreClub", {"id": membreClub.id}) }}">
                Modifier les infos du membre
            </a>
            <button onclick='deleteConfirm({{ membreClub.id }}, "Voulez-vous vraiment supprimer ce membre",
                    "{{ membreClub.name }} {{ membreClub.surname }}", "{{ path("supprimerMembreClub", {"id": "text"}) }}",
                    "#confirmationSupPhoto{{ membreClub.id }}")'
                    class="confirmSup">Supprimer le membre</button>
            <div class="confirmationSupPhoto" id="confirmationSupPhoto{{ membreClub.id }}"></div>
        </div>
    </div>


{% endblock %}