{% extends "base.html.twig" %}

{% block title %} Accueil BCM {% endblock %}

{% block body %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success SuccessContact">
			{{ message }}
		</div>
	{% endfor %}

	<h1> Bonjour, ceci est une version TEST non définitive, le site du club de basket est toujours en cours de
		développement !</h1>

	{% if diaporama.photoDiapos|length == 6 %}
		<div class="blocDiapo">
			<div class="carousel">
				{% for photoDiapo in diaporama.photoDiapos %}
				<div class="item">
					<img src="{{ asset(vich_uploader_asset(photoDiapo, "imageFile") | imagine_filter("equipeAffichage")) }}"
							alt="photo du club de basket">
				</div>
				{% endfor %}
			</div>
			<div class="chevron-gauche">
				<p class="cercle"></p>
				<p class="chevronG-part1"></p>
				<p class="chevronG-part2"></p>
			</div>
			<div class="chevron-droit">
				<p class="cercle"></p>
				<p class="chevronD-part1"></p>
				<p class="chevronD-part2"></p>
			</div>
			{% if is_granted("ROLE_EDITOR") %}
				<a href="{{ path("modifierDiaporama", {"id": diaporama.id}) }}">Modifier le diaporama</a>
			{% endif %}
		</div>
	{% else %}
		{% if is_granted("ROLE_EDITOR") %}
			<a class="modifierDiapo" href="{{ path("modifierDiaporama", {"id": diaporama.id}) }}">Modifier le diaporama</a>
		{% endif %}
	{% endif %}


	<div class="position-relative prioritaire">
		<h2>Actualité importante</h2>
		<div class="postNews">
			<h3><em class="fas fa-basketball-ball"></em>
				<a href="{{ path("show-article", {"slug": articlePrio.slug}) }}"> {{ articlePrio.title }} -
					{{ articlePrio.createdAt | date("d/m/Y") }}</a></h3>
			<div class="d-flex blocNews">
				{% for photoImportantePrio in photoImportantePrios %}
					{% if photoImportantePrio.imageName is defined and photoImportantePrio.imageName is not null %}
						{% if photoImportantePrio.important == 1 %}
							<div class="aggrandirImage">
								<img class="imageImportant" src="{{ asset(vich_uploader_asset(photoImportantePrio, "imageFile") |
									imagine_filter("thumb")) }}" alt="photo principale de l'article">
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
				<div class="blocContentPrio">
					{{ articlePrio.content | truncate(400, true, "...") | raw}}
					<a href="{{ path("show-article", {"slug": articlePrio.slug}) }}">Lire la suite</a>
				</div>

			</div>
		</div>
	</div>

	<div class="d-flex blocHome">
		<div class="news">
			<h2> Actualités </h2>
			{% for article in articles %}
				{% for category in article.category %}
					{% if category.title == "News" %}
						<div class="postNews">
							<h3><em class="fas fa-basketball-ball"></em>
								<a href="{{ path("show-article", {"slug": article.slug}) }}"> {{ article.title }} -
									{{ article.createdAt | date("d/m/Y") }}</a></h3>
							<div class="d-flex blocNews">
								{% for photoImportantePrio in article.photoArticles %}
									{% if photoImportantePrio.imageName is defined and photoImportantePrio.imageName is not null %}
										{% if photoImportantePrio.important == 1 %}
											<div class="aggrandirImage">
												<img class="imageImportant" src="{{ asset(vich_uploader_asset(photoImportantePrio, "imageFile") |
													imagine_filter("thumb")) }}" alt="photo principale de l'article">
											</div>
										{% endif %}
									{% endif %}
								{% endfor %}
								<div class="blocContentPrio">
									{{ article.content | truncate(400, true, "...") | raw}}
									<a href="{{ path("show-article", {"slug": article.slug}) }}">Lire la suite</a>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			{% endfor %}
			{{ knp_pagination_render(articles) }}
		</div>
		<div class="bandeRight">
			<h3>Inscription au club</h3>
			<a href="{{ path("clubInscription") }}">En savoir plus</a>
			<h3>Vous avez des photos ?</h3>
			<a href="{{ path("envoiePhoto") }}">Envoyez les nous !</a>
			<h3>Infos FFBB</h3>
			<a href="https://resultats.ffbb.com/organisation/7eb.html">Classement des équipes du département</a>
			<h3>Actualités FFBB</h3>
			{#{% for item in rssItems|slice(0, 3) %}
				<div class="blocNewsFFBB">
					<h4>{{ item.title }} - <span>{{ item.pubDate }}</span></h4>
					<a href="{{ item.link }}">Lien de l'article</a>
					<!-- <img src="{#{{ preg_match('<img href=(.*)\/>', item.description) | replace({'"':''}) }}"
						 alt="image de la FFBB"> -->
				</div>
			{% endfor %}#}
			<a href="http://www.ffbb.com/ffbb/listes-actus">Autres actus</a>
		</div>

	</div>
{% endblock %}