
    <div id="nomClub">
        <h2 id="name"><a href="{{ path("home") }}">BCM MEXIMIEUX BASKET</a></h2>
        <div id="connexion">
            {% if not app.user %}
                <a href="{{ path("security_login") }}"> Connexion </a>
                <p> | </p>
                <a href="{{ path("security_registration") }}"> Inscription </a>
            {% else %}
                <a href="{{ path("homeCompte") }}">Espace Compte</a>
                <p> | </p>
                <a href="{{ path("security_logout") }}"> Déconnexion </a>
            {% endif %}
        </div>
    </div>
    <nav class="menu">
        <ul id="navigation-left">
            <li><a href="{{ path("home") }}"> Accueil </a></li>

            <li><a href="#"> LE CLUB </a></li>

            <li><a href="#" id="nav-team"> EQUIPES </a>
                <ul id="bloc-team">
                    <li class="d-flex justify-content-between"><a href="#" id="boyTeam"> Garçons </a>
                        <ul id="listBoy">
                            {% for equipe in equipes.findAll() %}
                                {% if equipe.type == "garçons" %}
                                    <li><a href="{{ path("equipe", {"slug": equipe.slug, "type": equipe.type}) }}">
                                            {{ equipe.name }} </a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="d-flex justify-content-between"><a href="#" id="girlTeam"> Filles </a>
                        <ul id="listGirl">
                            {% for equipe in equipes.findAll() %}
                                {% if equipe.type == "filles" %}
                                    <li><a href="{{ path("equipe", {"slug": equipe.slug, "type": equipe.type}) }}">
                                        {{ equipe.name }} </a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

        <div id="logo">
            <a href="{{ path("home") }}"><img src="{{ asset("pictures/logo-meximieux.png") }}" alt="logo club de basket de Meximieux"></a>
        </div>

        <ul id="navigation-right">
            <li><a href="#"> PHOTOS </a></li>

            <li><a href="#"> TOURNOIS </a></li>

            <li><a href="{{ path("contact") }}"> CONTACT </a></li>
        </ul>
    </nav>
