{% extends "base.html.twig" %}

{% block title %} Ajout d'une caractéristique {% endblock %}

{% block body %}
    {% include "security/compte.nav.html.twig" %}
    <h1>Ajouter une caractéristique</h1>
    <div class="addCaractForm">
        {{ form_start(formCaract) }}
            <div class="divForm">
                <div class="errorForm">
                    {{ form_errors(formCaract.produit) }}
                </div>
                <div class="d-flex">
                    {{ form_label(formCaract.produit) }}
                    {{ form_widget(formCaract.produit) }}
                </div>
            </div>
            <div class="divForm">
                <div class="errorForm">
                    {{ form_errors(formCaract.color) }}
                </div>
                <div class="d-flex">
                    {{ form_label(formCaract.color) }}
                    {{ form_widget(formCaract.color) }}
                </div>
            </div>
            <div class="divForm">
                <div class="errorForm">
                    {{ form_errors(formCaract.taille) }}
                </div>
                <div class="d-flex">
                    {{ form_label(formCaract.taille) }}
                    {{ form_widget(formCaract.taille) }}
                </div>
            </div>
            <div class="divForm">
                <div class="errorForm">
                    {{ form_errors(formCaract.quantity) }}
                </div>
                <div class="d-flex">
                    {{ form_label(formCaract.quantity) }}
                    {{ form_widget(formCaract.quantity) }}
                </div>
            </div>
            <button class="form-control submit" type="submit">Ajouter</button>
        {{ form_end(formCaract) }}
    </div>

{% endblock %}