{% extends "base.html.twig" %}

{% block title %} Ajout d'un nouveau produit {% endblock %}

{% block body %}
    {% include "security/compte.nav.html.twig" %}

    <h1>Ajouter un produit</h1>
    <div class="addProduitForm">
        {{ form_start(formProduit) }}
        <div class="divForm">
            <div class="errorForm">
                {{ form_errors(formProduit.name) }}
            </div>
            <div class="d-flex">
                {{ form_label(formProduit.name) }}
                {{ form_widget(formProduit.name) }}
            </div>
        </div>
        <div class="divForm">
            <div class="errorForm">
                {{ form_errors(formProduit.price) }}
            </div>
            <div class="d-flex">
                {{ form_label(formProduit.price) }}
                {{ form_widget(formProduit.price) }}
            </div>
        </div>
        <div class="divForm">
            <div class="errorForm">
                {{ form_errors(formProduit.colors) }}
            </div>
            <div class="d-flex">
                {{ form_label(formProduit.colors) }}
                {{ form_widget(formProduit.colors) }}
            </div>
        </div>

        <ul id="photo-fields-list" class="photoDiv"
            data-prototype="{{ form_widget(formProduit.photoProduits.vars.prototype)|e }}"
            data-widget-tags="{{ '<li></li>'|e }}"
            data-widget-counter="{{ formProduit.photoProduits|length }}">

        </ul>

        <button type="button"
                class="add-another-collection-widget"
                data-list-selector="#photo-fields-list">Ajouter une autre photo</button>

        <button class="form-control submit" type="submit">Ajouter</button>
        {{ form_end(formProduit) }}
    </div>

{% endblock %}