{% extends "base.html.twig" %}

{% block title %} Produit {{ produit.name }}{% endblock %}

{% block body %}

    <h1>Page produit "{{ produit.name }}"</h1>

    <div class="blocFicheProduit">
        {% if photoImportante.imageName is defined and photoImportante.imageName is not null %}
            <img alt="image du produit mise en avant" class="imageImportanteProduit"
                 src="{{ asset(vich_uploader_asset(photoImportante, "imageFile") |imagine_filter("equipeAffichage")) }}"
                 title="Cliquer pour aggrandir l'image">
            <img alt="image du produit mise en avant" class="imageImportanteFull"
                 src="{{ asset(vich_uploader_asset(photoImportante, "imageFile")) }}" title="Cliquer pour réduire l'image">
        {% endif %}
        <div class="d-flex vente">
            <div class="d-flex justify-content-center images">
                {% for photo in photoProduits %}
                <img src="{{ asset(vich_uploader_asset(photo, "imageFile") |imagine_filter("equipeAffichage")) }}"
                     alt="les autres images du produit" id="miniature{{ photo.id }}" class="miniature"
                     onclick="afficherFullImage({{ photo.id }})" title="Cliquer pour aggrandir l'image">
                    <img src="{{ asset(vich_uploader_asset(photo, "imageFile")) }}"
                         alt="les autres images du produit" id="fullImage{{ photo.id }}" class="fullImage"
                         title="Cliquer pour réduire l'image">
                {% endfor %}
            </div>
            <div class="ficheProduit">
                <div class="d-flex flex-column">
                    <h3>Couleurs disponibles : </h3>
                    <select class="form-control" name="listColors" id="selectColor">
                        {% for color in produit.colors %}
                            <option value="{{ color.id }}">{{ color.name }}</option>
                        {% endfor %}
                    </select>

                </div>
                <div class="d-flex flex-column">
                    <h3>Tailles disponibles pour cette couleur :</h3>
                    <select class="form-control" name="listTaille" id="selectTaille">

                    </select>
                </div>
                <div>
                    <h3>Quantité pour cette taille = <span class="quantityTaille"></span></h3>
                </div>

                <h3>Prix - {{ produit.price }}€</h3>
            </div>
        </div>
    </div>

    {{ form_start(formOrder) }}
    <div class="addOrder">
        <div class="divForm">
            <div class="errorForm">
                {{ form_errors(formOrder.name) }}
            </div>
            <div class="d-flex">
                {{ form_label(formOrder.name) }}
                {{ form_widget(formOrder.name) }}
            </div>
        </div>
        <div class="divForm">
            <div class="errorForm">
                {{ form_errors(formOrder.color) }}
            </div>
            <div class="d-flex">
                {{ form_label(formOrder.color) }}
                {{ form_widget(formOrder.color) }}
            </div>
        </div>
        <div class="divForm">
            <div class="errorForm">
                {{ form_errors(formOrder.tailleOrder) }}
            </div>
            <div class="d-flex">
                {{ form_label(formOrder.tailleOrder) }}
                {{ form_widget(formOrder.tailleOrder) }}
            </div>
        </div>
        <div class="divForm">
            <div class="errorForm">
                {{ form_errors(formOrder.price) }}
            </div>
            <div class="d-flex">
                {{ form_label(formOrder.price) }}
                {{ form_widget(formOrder.price) }}
            </div>
        </div>
        <div class="divForm">
            <div class="errorForm">
                {{ form_errors(formOrder.tailleProduit) }}
            </div>
            <div class="d-flex">
                {{ form_label(formOrder.tailleProduit) }}
                {{ form_widget(formOrder.tailleProduit) }}
            </div>
        </div>
    </div>
        <button id="submitOrder" class="form-control submit" type="submit">Commander</button>
        <p class="noOrder">Produit non disponible pour cette taille</p>

    {{ form_end(formOrder) }}

{% endblock %}

{% block javascripts %}
    <script>
        function sendAjaxController(id)
        {
            $.ajax({
                method: "POST",
                url: "{{ path("ajax_colors") }}",
                data: {id: id},
                success: function (responses) {
                    //console.log(responses);
                    if (responses.length === 0)
                    {
                        let noColor = $("<option>", {
                            text: "Il n'y a plus de stock pour cette couleur."
                        });

                        $("#selectTaille").append(noColor);

                        $(".quantityTaille").text(0);

                        $("#submitOrder").hide();
                        $(".noOrder").show();
                    }
                    else
                    {
                        responses.forEach((datas) => {
                            //console.log(datas.horaire.timestamp);
                            htmlResponseAjaxTailleColors(datas.name, datas.quantity, datas.id);
                        });
                    }
                }
            });
        }

        remplirChampProduit("{{ produit.name }}", "{{ produit.price }}");
        $("#order_color").val($("#selectColor option:selected").text());

        let valColor = $("#selectColor option:selected").val();
        sendAjaxController(valColor);

        $("#selectColor").change(function () {
            valColor = $("#selectColor option:selected").val();
            //console.log(valProduit);
            $("#selectTaille").text("");
            $("#order_color").val($("#selectColor option:selected").text());
            sendAjaxController(valColor);
        });

        $("#selectTaille").change(function(){
            valQuantity = $("#selectTaille option:selected").val();
            valTaille = $("#selectTaille option:selected").text();
            valId = $("#selectTaille option:selected").attr("id");
            $("#order_tailleOrder").val(valTaille);
            $("#order_tailleProduit").val(valId);
            showQuantityTaille(valQuantity);
        });
    </script>
{% endblock %}