{% extends "base.html.twig" %}

{% block title %} Produit {{ produit.name }}{% endblock %}

{% block body %}

    <h1>Page produit "{{ produit.name }}"</h1>

    <div>
        <img src="" alt="image mise en avant du produit">
        <div class="d-flex vente">
            <div class="d-flex flex-column images">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>
            <div class="ficheProduit">
                <h2>{{ produit.name }} - {{ produit.price }}€</h2>

                {% for couleur in produit.colors %}
                    <p>{{ couleur.name }}</p>
                    <p>Taille :
                        {% for tailleC in couleur.tailles %}
                            {% for tailleP in produit.tailles %}
                            {% if tailleP.name == tailleC.name %}
                                {{ tailleC.name }} - {{ tailleC.quantity}}
                            {% endif %}
                                {% endfor %}
                        {% endfor %}
                    </p>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}