<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('CSS/front.css') }}">
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="nav">{% include "navigation/menu-principal.html.twig" %}</div>
        {% block body %}{% endblock %}
        <footer>{% include "navigation/footer.html.twig" %}</footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/40e1f9d6e8.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                crossorigin="anonymous"></script>
        <script src="{{ asset('JS/navigation.js') }}"></script>
        <script src="{{ asset('JS/diaporama.js') }}"></script>
        <script src="{{ asset('cookiechoices.js') }}"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function(event) {
                cookieChoices.showCookieConsentBar("Ce site utilise des cookies pour vous offrir le meilleur service." +
                    " En poursuivant votre navigation, vous acceptez l’utilisation des cookies.",
                    "J’accepte", "En savoir plus", "{{ path("mentions-legales") }}");
            });
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
