{% extends "base.html.twig" %}

{% block title %} compte equipes {% endblock %}

{% block body %}
    {% include "security/admin/compte.nav.html.twig" %}
    <h1> Gestion des équipes </h1>

    <a href="{{ path("ajouterEquipe") }}">Ajouter une équipe</a>
    <a href="#">Gestion des entrainements</a>

    <ul>Equipes garçons :
        {% for equipe in equipes.findAll() %}
            {% if equipe.type == "garçons" %}
                <div class="d-flex">
                    <li><a href="{{ path("equipe", {"slug":  equipe.slug , "type": equipe.type }) }}">
                            {{ equipe.name }}</a>
                    </li>
                    <li><a href="{{ path("modifierEquipe", {"slug": equipe.slug}) }}">Modifier</a></li>
                    <button onclick="deleteEquipe({{ equipe.id }})" class="confirmSup">Supprimer</button>
                    <div class="confirm" id="confirm{{ equipe.id }}">
                        <p> Voulez-vous vraiment supprimer cette équipe ? </p>
                        <a class="yesSup" href="{{ path("supprimerEquipe", {"id": equipe.id}) }}"> Oui </a>
                        <button onclick="cancelEquipe({{ equipe.id }})" class="noSup" >Non</button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </ul>
    <ul> Equipes filles :
        {% for equipe in equipes.findAll() %}
            {% if equipe.type == "filles" %}
                <div class="d-flex">
                    <li><a href="{{ path("equipe", {"slug":  equipe.slug , "type": equipe.type }) }}">
                            {{ equipe.name }}</a></li>
                    <li><a href="{{ path("modifierEquipe", {"slug": equipe.slug}) }}">Modifier</a></li>
                    <li><a href="{{ path("supprimerEquipe", {"id": equipe.id}) }}">Supprimer</a></li>
                </div>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}