{% extends "base.html.twig" %}

{% block title %} Administration des utilisateurs {% endblock %}

{% block body %}
    {% include "security/compte.nav.html.twig" %}

    <h1>Gestion des utilisateurs</h1>

    <h2>Liste des utilisateurs</h2>

    <table class="table table-hover blocUser">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Rôles</th>
                <th>Fonction dans le club</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {# On boucle sur les utilisateurs #}
        {% for user in users %}
            <tr>
                <td class="userName">{{ user.username }}</td>
                <td class="userEmail">{{ user.email }}</td>
                <td class="userRole">
                    {# On boucle sur les rôles #}
                    {% for role in user.roles %}
                        {% if role == "ROLE_EDITOR" %}
                            Editeur <br>
                        {% elseif role == "ROLE_ADMIN" %}
                            Administrateur <br>
                            {% else %}
                            Utilisateur <br>
                        {% endif %}
                    {% endfor %}
                </td>

                <td class="userFonction">
                    {% for fonction in user.fonctionClub %}
                        {{ fonction.name }} <br>
                    {% else %}
                        Non renseignée
                    {% endfor %}
                </td>

                <td class="actionLien">
                    <a class="modifRole" href="{{ path("modifierUtilisateur", {'slug': user.slug}) }}">Modifier Roles</a><br>
                    <a class="modifInfosProfil" href="{{ path("modifierInfosUtilisateur", {'slug': user.slug}) }}">Modifier Infos</a><br>
                    <button onclick='deleteConfirm({{ user.id }}, "Voulez-vous vraiment supprimer cet utilisateur",
                            "{{ user.username }}", "{{ path("supprimerPhotoProfil", {"id": "text"}) }}",
                            "#confirmationSupPhoto{{ user.id }}")'
                            class="confirmSup">Supprimer</button>
                    <div class="confirmationSupPhoto" id="confirmationSupPhoto{{ user.id }}"></div>
                </td>
            </tr>
        {% else %}
            <p>Aucun utilisateur inscrit</p>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}