{% extends "base.html.twig" %}

{% block title %} Administration des utilisateurs {% endblock %}

{% block body %}
    {% include "security/compte.nav.html.twig" %}

    <h1>Gestion des utilisateurs</h1>

    <h2 class="listUsers">Liste des utilisateurs</h2>

    <table class="table table-hover blocUser">
        <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th class="userEmail">Email</th>
                <th>Rôles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {# On boucle sur les utilisateurs #}
        {% for user in users %}
            <tr>
                <td class="userName"><a href="{{ path("pageUtilisateur", {"slug": user.slug}) }}">{{ user.username }}</a></td>
                <td class="userEmail">{{ user.email }}</td>
                <td class="userRole">
                    {# On boucle sur les rôles #}
                    {% for role in user.roles %}
                        {% if role == "ROLE_EDITOR" %}
                            Editeur <br>
                        {% elseif role == "ROLE_ADMIN" %}
                            Administrateur <br>
                        {% else %}
                            Utilisateur <br>
                        {% endif %}
                    {% endfor %}
                </td>

                <td class="actionLien">
                    <a class="modifRole" href="{{ path("modifierRoleUtilisateur", {'slug': user.slug}) }}">Modifier Roles</a><br>
                    <a class="modifInfosProfil" href="{{ path("modifierInfosUtilisateur", {'slug': user.slug}) }}">Modifier Infos</a><br>
                    <button onclick='deleteConfirm({{ user.id }}, "Voulez-vous vraiment supprimer cet utilisateur",
                            "{{ user.username }}", "{{ path("supprimerUtilisateur", {"id": "text"}) }}",
                            "#confirmationSupPhoto{{ user.id }}")'
                            class="confirmSup">Supprimer</button>
                    <div class="confirmationSupPhoto" id="confirmationSupPhoto{{ user.id }}"></div>
                </td>
            </tr>
        {% else %}
            <p>Aucun utilisateur inscrit</p>
        {% endfor %}
        </tbody>
    </table>

    <h2 class="listOrders">Liste des commandes en attente de validation </h2>
    <div class="d-flex flex-wrap justify-content-around">
        {% for commande in commandes %}
            <div class="orderWaiting">
                <h3 class="hideOrder"><a href="{{ path("ficheProduit", {"slug": commande.tailleProduit.color.produit.slug }) }}">
                        {{ commande.tailleProduit.color.produit.name }}
                    </a></h3>
                <p class="hideOrder">Caractéristiques : <br>
                    - <strong>Couleur:</strong> <span>{{ commande.color }}</span><br>
                    - <strong>Taille:</strong> <span>{{ commande.tailleOrder }}</span><br>
                    - <strong>Quantité:</strong> <span>{{ commande.quantity }}</span><br>
                </p>
                <p class="hideOrder">Commandé par <span>{{ commande.user.nom|upper }} {{ commande.user.prenom|upper }}</span></p>
                <a class="validateOrder" href="{{ path("validateOrder", {"id": commande.id}) }}">Valider la commande</a>
                <button onclick='deleteConfirm({{ commande.id }}, "Voulez-vous vraiment annuler la commande pour le produit",
                        "{{ commande.name }}", "{{ path("supprimerOrder", {"id": "text"}) }}",
                        "#confirmationSupOrder{{ commande.id }}")'
                        class="confirmSup">Annuler la commande</button>
                <div class="confirmationSupPhoto" id="confirmationSupOrder{{ commande.id }}"></div>
            </div>
        {% endfor %}
    </div>


{% endblock %}