{% extends "base.html.twig" %}

{% block title %} compte equipes {% endblock %}

{% block body %}
    {% include "security/admin/compte.nav.html.twig" %}

    <h1> Gestion des équipes </h1>
    <div id="addTeam">
        <a href="{{ path("ajouterEquipe") }}">Ajouter une équipe + </a>
        <a href="{{ path("entrainement") }}">Gestion des entrainements</a>
    </div>

    <div class="d-flex justify-content-around">
        <ul class="blocTeam">
            <h2 class="typeTeam">Equipes garçons : </h2>
            {% for equipe in equipes.findAll() %}
                {% if equipe.type == "garçons" %}
                    <div class="d-flex justify-content-center compteTeam">
                        <li><a class="nameTeam" href="{{ path("equipe", {"slug":  equipe.slug , "type": equipe.type }) }}">
                                {{ equipe.name }}</a>
                        </li>
                        <li><a href="{{ path("modifierEquipe", {"slug": equipe.slug}) }}">Modifier</a></li>
                        <button onclick="deleteEquipe({{ equipe.id }})" class="confirmSup">Supprimer</button>
                    </div>
                    <div class="confirm" id="confirm{{ equipe.id }}">
                        <p> Voulez-vous vraiment supprimer l'équipe {{ equipe.name }} ? </p>
                        <a class="yesSup" href="{{ path("supprimerEquipe", {"id": equipe.id}) }}"> Oui </a>
                        <button onclick="cancelEquipe({{ equipe.id }})" class="noSup" >Non</button>
                    </div>
                {% endif %}
            {% endfor %}
        </ul>
        <ul class="blocTeam">
            <h2 class="typeTeam">Equipes filles :</h2>
            {% for equipe in equipes.findAll() %}
                {% if equipe.type == "filles" %}
                    <div class="d-flex justify-content-center compteTeam">
                        <li><a class="nameTeam" href="{{ path("equipe", {"slug":  equipe.slug , "type": equipe.type }) }}">
                                {{ equipe.name }}</a></li>
                        <li><a href="{{ path("modifierEquipe", {"slug": equipe.slug}) }}">Modifier</a></li>
                        <button onclick="deleteEquipe({{ equipe.id }})" class="confirmSup">Supprimer</button>
                    </div>
                    <div class="confirm" id="confirm{{ equipe.id }}">
                        <p> Voulez-vous vraiment supprimer l'équipe {{ equipe.name }} ? </p>
                        <a class="yesSup" href="{{ path("supprimerEquipe", {"id": equipe.id}) }}"> Oui </a>
                        <button onclick="cancelEquipe({{ equipe.id }})" class="noSup" >Non</button>
                    </div>
                {% endif %}
            {% endfor %}
        </ul>
    </div>


{% endblock %}