{% extends "base.html.twig" %}

{% block title %} Modification d'un rôle utilisateur {% endblock %}

{% block body %}
    {% include "security/compte.nav.html.twig" %}

    <h1>Modifier le rôle de l'utilisateur </h1>
    <div class="editRolesForm">
        {{ form_start(formUser) }}
        <div class="position-relative">
            <div class="divForm">
                <div class="errorForm">
                    {{ form_errors(formUser.roles) }}
                </div>
                <div class="d-flex">
                    {{ form_label(formUser.roles) }}
                    {{ form_widget(formUser.roles) }}
                </div>
            </div>
            <button class="form-control submit" type="submit">Modifier</button>
        </div>
        {{ form_end(formUser) }}
    </div>

{% endblock %}