{% extends "base.html.twig" %}

{% block title %} Page utilisateur - {{ user.username }} {% endblock %}

{% block body %}

    {% include "security/compte.nav.html.twig" %}

    <h1> Page de l'utilisateur "{{ user.username | capitalize }}"</h1>
    <div class="d-flex flex-column blocEditUser">
        {% if photoUser.imageName is defined and photoUser.imageName is not null %}
            <div class="profilPicture">
                <a href="{{ path("modifierPhotoProfilUser", {"slug": user.slug}) }}">
                    <img src="{{ vich_uploader_asset(photoUser, "imageFile") | imagine_filter("thumb") }}"
                         alt="photo de profil utilisateur"
                         title="Cliquer pour modifier !"></a>
            </div>
        {% else %}
            <div class="profilPictureVide">
                <a href="{{ path("ajouterPhotoProfilUser", {"slug": user.slug}) }}">
                    <i class="fas fa-portrait" title="Cliquer pour ajouter !"></i>
                </a>
            </div>
        {% endif %}

        <div class="profil">

            {% if user.nom %}
                <p> NOM : <span>{{ user.nom | capitalize }}</span></p>
            {% else %}
                <p> NOM : <span>Non renseignée</span></p>
            {% endif %}

            {% if user.prenom %}
                <p> PRÉNOM : <span>{{ user.prenom | capitalize }}</span></p>
            {% else %}
                <p> PRÉNOM : <span>Non renseignée</span></p>
            {% endif %}

            <p> EMAIL : <span>{{ user.email }}</span></p>

            {% if user.telephone %}
                <p> TÉLÉPHONE : <span>{{ user.telephone }}</span></p>
            {% else %}
                <p> TÉLÉPHONE : <span>Non renseignée</span></p>
            {% endif %}

            <p>FONCTION DANS LE CLUB :
                {% for fonction in user.fonctionClub %}
                    <br><span> - {{ fonction.name }}</span>
                {% else %}
                    <span>Non renseignée</span>
                {% endfor %}
            </p>

        </div>
        <div class="d-flex flex-column actionProfil">
            <a class="modifInfosProfil" href="{{ path("modifierInfosUtilisateur", {"slug": user.slug}) }}">
                Modifier les infos de l'utilisateur</a>
            <a href="{{ path("modifierUtilisateur", {"slug": user.slug}) }}">Modifier le rôle de l'utilisateur</a>
            {% if photoUser.imageName is defined and photoUser.imageName is not null %}
                <a class="modifPhotoProfil" href="{{ path("modifierPhotoProfilUser", {"slug": user.slug}) }}">
                    Modifier la photo de l'utilisateur</a>
                <button onclick='deleteConfirm({{ photoUser.id }}, "Voulez-vous vraiment supprimer cette photo",
                        "{{ photoUser.imageName }}", "{{ path("supprimerPhotoProfilUser", {"id": "text"}) }}",
                        "#confirmationSupPhoto{{ photoUser.id }}")'
                        class="confirmSup">Supprimer la photo de l'utilisateur</button>
                <div class="confirmationSupPhoto" id="confirmationSupPhoto{{ photoUser.id }}"></div>

            {% else %}
                <a href="{{ path("ajouterPhotoProfilUser", {"slug": user.slug}) }}">Ajouter une photo à l'utilisateur</a>
            {% endif %}
            <button onclick='deleteConfirm({{ user.id }}, "Voulez-vous vraiment supprimer le compte de cet utilisateur",
                    "{{ user.username }}", "{{ path("supprimerUtilisateur", {"id": "text"}) }}",
                    "#confirmationSupPhoto{{ user.id }}")'
                    class="confirmSup">Supprimer le compte de l'utilisateur</button>
            <div class="confirmationSupPhoto" id="confirmationSupPhoto{{ user.id }}"></div>
        </div>
    </div>


{% endblock %}