{% extends "base.html.twig" %}

{% block title %} Liste des photos {% endblock %}

{% block body %}
    <h1>Liste des photos du BCM</h1>
    <div class="selects">
        <select name="listPhotosEquipes" id="selectEquipePhoto">
            <option value="all">Toutes les photos des équipes</option>
            <option value="none">Masquer les photos des équipes</option>
            <optgroup label="Equipes Garçons">
                {% for equipeB in equipesBoy %}
                    <option value="{{ equipeB.id }}">{{ equipeB.name }}</option>
                {% endfor %}
            </optgroup>
            <optgroup label="Equipes Filles">
                {% for equipeF in equipesGirl %}
                    <option value="{{ equipeF.id }}">{{ equipeF.name }}</option>
                {% endfor %}
            </optgroup>
            <optgroup label="Equipes Loisir">
                {% for equipeL in equipesLoisir %}
                    <option value="{{ equipeL.id }}">{{ equipeL.name }}</option>
                {% endfor %}
            </optgroup>
        </select>

        <select name="listPhotosArticles" id="selectArticlePhoto">
            <option value="all">Toutes les photos des articles</option>
            <option value="none">Masquer les photos des équipes</option>
            <optgroup label="Articles Actualités">
                {% for article in articlesNews %}
                    <option value="{{ article.id }}">{{ article.title }}</option>
                {% endfor %}
            </optgroup>
            <optgroup label="Articles Tournois">
                {% for article in articlesTournois %}
                    <option value="{{ article.id }}">{{ article.title }}</option>
                {% endfor %}
            </optgroup>
        </select>
    </div>

    <div class="allPhotos">
        <div class="blocPhotoEquipeAll">
            <div class="blocEquipe">
                <h2> Equipes garçons</h2>
                <div class="blocEquipePhoto">
                    {% for equipeB in equipesBoy %}
                        {% for photoEquipeB in equipeB.photoEquipes %}
                            <div class="picture">
                                {% if photoEquipeB.imageName is defined and photoEquipeB.imageName is not null %}
                                    <img id="imagePetite{{ photoEquipeB.id }}" class="imagePetite"
                                         src="{{ asset(vich_uploader_asset(photoEquipeB, "imageFile")) }}"
                                         alt="photo de l'équipe {{ equipeB.name }}">
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="blocEquipe">
                <h2> Equipes filles</h2>
                <div class="blocEquipePhoto">
                    {% for equipeF in equipesGirl %}
                        {% for photoEquipeF in equipeF.photoEquipes %}
                            <div class="picture">
                                {% if photoEquipeF.imageName is defined and photoEquipeF.imageName is not null %}
                                    <img id="imagePetite{{ photoEquipeF.id }}" class="imagePetite"
                                         src="{{ asset(vich_uploader_asset(photoEquipeF, "imageFile")) }}"
                                         alt="photo de l'équipe {{ equipeF.name }}">
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="blocEquipe">
                <h2> Equipes loisir</h2>
                <div class="blocEquipePhoto">
                    {% for equipeL in equipesLoisir %}
                        {% for photoEquipeL in equipeL.photoEquipes %}
                            <div class="picture">
                                {% if photoEquipeL.imageName is defined and photoEquipeL.imageName is not null %}
                                    <img id="imagePetite{{ photoEquipeL.id }}" class="imagePetite"
                                         src="{{ asset(vich_uploader_asset(photoEquipeL, "imageFile")) }}"
                                         alt="photo de l'équipe {{ equipeL.name }}">
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="blocPhotoEquipeAjax">
            <h2></h2>
            <div class="blocEquipeAjax">

            </div>
        </div>

        <div class="blocPhotoArticleAll">
            <div class="blocArticle">
                <h2> Articles actualités</h2>
                <div class="blocArticlePhoto">
                    {% for article in articlesNews %}
                        {% for photoArticle in article.photoArticles %}
                            <div class="picture">
                                {% if photoArticle.imageName is defined and photoArticle.imageName is not null %}
                                    <img id="imagePetite{{ photoArticle.id }}" class="imagePetite"
                                         src="{{ asset(vich_uploader_asset(photoArticle, "imageFile")) }}"
                                         alt="photo de l'article {{ article.title }}">
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="blocArticle">
                <h2> Articles tournois</h2>
                <div class="blocArticlePhoto">
                    {% for article in articlesTournois %}
                        {% for photoArticle in article.photoArticles %}
                            <div class="picture">
                                {% if photoArticle.imageName is defined and photoArticle.imageName is not null %}
                                    <img id="imagePetite{{ photoArticle.id }}" class="imagePetite"
                                         src="{{ asset(vich_uploader_asset(photoArticle, "imageFile")) }}"
                                         alt="photo de l'article {{ article.title }}">
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="blocPhotoArticleAjax">
            <h2></h2>
            <div class="blocArticleAjax">

            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}

    <script>

        /* Ajax pour les équipes */

        function sendAjaxController(id) {
            $.ajax({
                method: "POST",
                url: "{{ path("ajax_PhotoEquipe") }}",
                data: {id: id},
                success: function (responses) {
                    //console.log(responses);
                    if (responses.length === 0)
                    {
                        let noPhotoEquipe = $("<p>", {
                            text: "Il n'y a aucune photos de cette équipe",
                            class: "anyEquipe"
                        });

                        $(".blocPhotoEquipeAjax .blocEquipeAjax").append(noPhotoEquipe);
                        $(".blocPhotoEquipeAjax h2").text("");
                    }
                    else
                    {
                        responses.forEach((datas) => {
                            console.log(datas);
                            let path = "/" + datas.imageName;
                            let asset = "{{ asset('pictures/equipe') }}";
                            $(".blocPhotoEquipeAjax h2").text("Photos de l'équipe " + datas.equipe.name);

                            {# let url = "{{ asset(vich_uploader_asset(" + datas.photoEquipe + ", 'imageFile'))}}";#}
                            htmlResponseAjaxPhoto(asset + path, "Photo de l'équipe " + datas.equipe.name,
                                ".blocPhotoEquipeAjax .blocEquipeAjax");
                        });
                    }
                }
            });
        }

        let idEquipe = $("#selectEquipePhoto option:selected").val();
        if (idEquipe === "all")
        {
            $(".blocPhotoEquipeAll").css("display", "block");
            $(".blocPhotoEquipeAjax").css("display", "none");
        }
        else if(idEquipe === "none")
        {
            $(".blocPhotoEquipeAll").css("display", "none");
            $(".blocPhotoEquipeAjax").css("display", "none");
        }
        else
        {
            $(".blocPhotoEquipeAll").css("display", "none");
            $(".blocPhotoEquipeAjax").css("display", "block");
            sendAjaxController(idEquipe);
        }

        $("#selectEquipePhoto").change(function () {
            idEquipe = $("#selectEquipePhoto option:selected").val();
            $(".blocPhotoEquipeAjax .blocEquipeAjax").text("");

            if (idEquipe === "all")
            {
                $(".blocPhotoEquipeAll").css("display", "block");
                $(".blocPhotoEquipeAjax").css("display", "none");
            }
            else if(idEquipe === "none")
            {
                $(".blocPhotoEquipeAll").css("display", "none");
                $(".blocPhotoEquipeAjax").css("display", "none");
            }
            else
            {
                $(".blocPhotoEquipeAll").css("display", "none");
                $(".blocPhotoEquipeAjax").css("display", "block");
                sendAjaxController(idEquipe);
            }
        });





        /* Ajax pour les articles */

        function sendAjaxControllerArticle(id) {
            $.ajax({
                method: "POST",
                url: "{{ path("ajax_PhotoArticle") }}",
                data: {id: id},
                success: function (responses) {
                    //console.log(responses);
                    if (responses.length === 0)
                    {
                        let noPhotoArticle = $("<p>", {
                            text: "Il n'y a aucune photos de cet article",
                            class: "anyEquipe"
                        });

                        $(".blocPhotoArticleAjax .blocArticleAjax").append(noPhotoArticle);
                        $(".blocPhotoArticleAjax h2").text("");
                    }
                    else
                    {
                        responses.forEach((datas) => {
                            console.log(datas);
                            let path = "/" + datas.imageName;
                            let asset = "{{ asset('pictures/article') }}";
                            $(".blocPhotoArticleAjax h2").text("Photos de l'article " + datas.article.title);

                            {# let url = "{{ asset(vich_uploader_asset(" + datas.photoEquipe + ", 'imageFile'))}}";#}
                            htmlResponseAjaxPhoto(asset + path, "Photo de l'article " + datas.article.title,
                                ".blocPhotoArticleAjax .blocArticleAjax");
                        });
                    }
                }
            });
        }

        let idArticle = $("#selectArticlePhoto option:selected").val();

        if (idArticle === "all")
        {
            $(".blocPhotoArticleAll").css("display", "block");
            $(".blocPhotoArticleAjax").css("display", "none");
        }
        else if(idArticle === "none")
        {
            $(".blocPhotoArticleAll").css("display", "none");
            $(".blocPhotoArticleAjax").css("display", "none");
        }
        else
        {
            $(".blocPhotoArticleAll").css("display", "none");
            $(".blocPhotoArticleAjax").css("display", "block");
            sendAjaxControllerArticle(idArticle);
        }

        $("#selectArticlePhoto").change(function () {
            idArticle = $("#selectArticlePhoto option:selected").val();
            $(".blocPhotoArticleAjax .blocArticleAjax").text("");

            if (idArticle === "all")
            {
                $(".blocPhotoArticleAll").css("display", "block");
                $(".blocPhotoArticleAjax").css("display", "none");
            }
            else if(idArticle === "none")
            {
                $(".blocPhotoArticleAll").css("display", "none");
                $(".blocPhotoArticleAjax").css("display", "none");
            }
            else
            {
                $(".blocPhotoArticleAll").css("display", "none");
                $(".blocPhotoArticleAjax").css("display", "block");
                sendAjaxControllerArticle(idArticle);
            }
        });
    </script>

{% endblock %}