{% extends "base.html.twig" %}
{% block title %} Ajouter équipe {% endblock %}
{% block body %}
    {% include "security/admin/compte.nav.html.twig" %}
    <h1>Ajouter une équipe</h1>
    {{ form_start(formEquipe) }}
    <div class="divForm">
        <div class="errorForm">
            {{ form_errors(formEquipe.name) }}
        </div>
        <div class="d-flex">
            {{ form_label(formEquipe.name) }}
            {{ form_widget(formEquipe.name) }}
        </div>
    </div>
    <div class="divForm equipeType">
        <div class="errorForm">
            {{ form_errors(formEquipe.type) }}
        </div>
        <div class="d-flex">
            {{ form_label(formEquipe.type) }}
            {{ form_widget(formEquipe.type) }}
        </div>
    </div>
    <div class="divForm widgetId">
        <div class="errorForm">
            {{ form_errors(formEquipe.widgetId) }}
        </div>
        <div class="d-flex">
            {{ form_label(formEquipe.widgetId) }}
            {{ form_widget(formEquipe.widgetId) }}
        </div>
    </div>
    <button class="form-control submit" type="submit">Ajouter</button>
    {{ form_end(formEquipe) }}
{% endblock %}

{% block javascripts %}
    <script>
        let value = $(".equipeType option:selected").val();
        if(value === "loisir")
        {
            $(".widgetId").css("display", "none");
        }
        else
        {
            $(".widgetId").css("display", "block");
        }

        $(".equipeType").change(function(){
            value = $(".equipeType option:selected").val();
            console.log(value);
            if(value === "loisir")
            {
                $(".widgetId").css("display", "none");
            }
            else
            {
                $(".widgetId").css("display", "block");
            }
        });
    </script>

{% endblock %}