{% extends "base.html.twig" %}

{% block title %} Modification d'une équipe {% endblock %}

{% block body %}
    {% include "security/compte.nav.html.twig" %}
    <h1>Modifier l'équipe</h1>

    <div class="editTeamForm">
        {{ form_start(formEquipe) }}
            <div class="divForm">
                <div class="errorForm">
                    {{ form_errors(formEquipe.name) }}
                </div>
                <div class="d-flex">
                    {{ form_label(formEquipe.name) }}
                    {{ form_widget(formEquipe.name) }}
                </div>
            </div>
            <div class="divForm equipeType">
                <div class="errorForm">
                    {{ form_errors(formEquipe.type) }}
                </div>
                <div class="d-flex">
                    {{ form_label(formEquipe.type) }}
                    {{ form_widget(formEquipe.type) }}
                </div>
            </div>
            <div class="divForm widgetId">
                <div class="errorForm">
                    {{ form_errors(formEquipe.widgetId) }}
                </div>
                <div class="d-flex">
                    {{ form_label(formEquipe.widgetId) }}
                    {{ form_widget(formEquipe.widgetId) }}
                </div>
            </div>
            <div class="d-flex justify-content-center blocPhoto">
                {% for photoEquipe in photoEquipes %}
                    <div class="d-flex flex-column divPhoto">
                        <img src="{{ asset(vich_uploader_asset(photoEquipe, "imageFile")) }}" alt="photo de l'équipe de basket">
                        {% if photoEquipe.getImportant == 0 %}
                            <a href="{{ path("mettreEnAvantPhotoEquipe", {"id": photoEquipe.id}) }}">Mettre en avant</a>
                        {% else %}
                            <p>Image mise en avant</p>
                        {% endif %}
                        <a href="{{ path("supprimerPhotoEquipe", {"id": photoEquipe.id}) }}">Supprimer</a>
                    </div>
                {% endfor %}
            </div>


            <ul id="photo-fields-list" class="photoDiv"
                data-prototype="{{ form_widget(formEquipe.photoEquipes.vars.prototype)|e }}"
                data-widget-tags="{{ '<li></li>'|e }}"
                data-widget-counter="{{ formEquipe.photoEquipes|length }}">

            </ul>

            <button type="button"
                    class="add-another-collection-widget"
                    data-list-selector="#photo-fields-list">Ajouter une autre photo</button>

            <button class="form-control submit" type="submit">Modifier</button>
        {{ form_end(formEquipe) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        let value = $(".equipeType option:selected").val();
        if(value === "loisir")
        {
            $(".widgetId").css("display", "none");
        }
        else
        {
            $(".widgetId").css("display", "block");
        }

        $(".equipeType").change(function(){
            value = $(".equipeType option:selected").val();
            console.log(value);
            if(value === "loisir")
            {
                $(".widgetId").css("display", "none");
            }
            else
            {
                $(".widgetId").css("display", "block");
            }
        });
    </script>

{% endblock %}