{% extends 'base.html.twig' %}

{% block body %}
    <h1> Equipe {{ equipe.name }} </h1>

    <p> Adresse : {{ equipe.address }}</p>

    <p> Horaire Entrainement : le {{ equipe.day }} à {{ equipe.horaire | date("H:i") }}</p>

    <div id="result"></div>
{% endblock %}

{% block javascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.5/iframeResizer.min.js"></script>
    <script>if(!window._rsz){window._rsz=function(){var i=iFrameResize({checkOrigin:false,interval:100});};if(document.readyState!="loading"){_rsz()}else{document.addEventListener("DOMContentLoaded",_rsz)}}</script>
    <iframe id="{{ equipe.widgetId }}" src="https://scorenco.com/widget/{{ equipe.widgetId }}/?auto_height=true" style="display: block; width: 100%; overflow: auto; margin: auto; border-width: 0px;" scrolling="no"></iframe>
    <a style="font-size:11px" target="_blank" href="https://scorenco.com/basket/clubs/bc-meximieux/">BC Meximieux sur Score'n'co</a>

{% endblock %}