{% extends 'base.html.twig' %}

{% block title %} Page de l'équipe {{ equipe.name | upper }} {% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success SuccessContact">
            {{ message }}
        </div>
    {% endfor %}

    <h1> Equipe {{ equipe.name | upper }} </h1>

    <div class="d-flex flex-column justify-content-center blocPhoto">
        {% if photoImportante.imageName is defined and photoImportante.imageName is not null %}
                <div class="aggrandirImage">
                    <img class="imageImportant" src="{{ asset(vich_uploader_asset(photoImportante, "imageFile") |
                        imagine_filter("equipeAffichage")) }}"
                         alt="photo principale de l'équipe de basket" title="Cliquer pour aggrandir !">
                    <img class="imageAggrandit" src="{{ asset(vich_uploader_asset(photoImportante, "imageFile")) }}"
                         alt="photo principale de l'équipe de basket aggrandit" title="Cliquer pour réduire !">
                </div>
        {% else %}
            <p><em class="fas fa-users"></em></p>
            {% if app.user %}
                <a class="position-relative" href="{{ path("modifierPhotoEquipe", {"slug": equipe.slug}) }}">
                    Mettre une photo en avant </a>
            {% endif %}
        {% endif %}

        <button class="afficherPhotoEquipe">Afficher les autres photos de l'équipe</button>
        <div class="blocAutrePhoto">
            <div class="chevron-gauche">
                <p class="cercle"></p>
                <p class="chevronG-part1"></p>
                <p class="chevronG-part2"></p>
            </div>
            <div class="chevron-droit">
                <p class="cercle"></p>
                <p class="chevronD-part1"></p>
                <p class="chevronD-part2"></p>
            </div>
            <div class="diaporama"></div>
            <div class="play">
                <p class="cercle"></p>
                <p class="chevronPlay-part1"></p>
                <p class="chevronPlay-part2"></p>
                <p class="chevronPlay-part3"></p>
            </div>
            <div class="pause">
                <p class="cercle"></p>
                <p class="chevronPause-part1"></p>
                <p class="chevronPause-part2"></p>
            </div>
        </div>
    </div>

    <div class="blocInfosEquipes">
        {% if equipe.memberClubs|length != 0 %}
            <h2> ENTRAÎNEUR(S) </h2>
            <div class="d-flex justify-content-around bloc-coach">
                {% for member in equipe.memberClubs %}
                    <div class="d-flex flex-column bloc-equipe">
                        {% if member.imageName is defined and member.imageName is not null %}
                            <div class="profilPicture">
                                <p>
                                    <img src="{{ vich_uploader_asset(member, "imageFile") |
                                    imagine_filter("equipeModif") }}" alt="photo du membre du club">
                                </p>
                            </div>
                        {% else %}
                            <div class="profilPictureVide">
                                <p>
                                    <em class="fas fa-portrait"></em>
                                </p>
                            </div>
                        {% endif %}
                        <div class="profil">
                            <p> NOM : <span>{{ member.surname | capitalize }}</span></p>
                            <p> PRÉNOM : <span>{{ member.name | capitalize }}</span></p>
                            <p> EMAIL : <span>{{ member.email }}</span></p>
                            {% if member.telephone %}
                                <p> TÉLÉPHONE : <span>{{ member.telephone }}</span></p>
                            {% else %}
                                <p> TÉLÉPHONE : <span>Non renseigné</span></p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="bloc-training">
            <h2> ENTRAÎNEMENTS </h2>
            {% if equipe.convocations|length != 0 %}
                {% for convocation in equipe.convocations %}
                    <p> Adresse : <span>{{ convocation.address }}</span></p>

                    <p> Jour et horaire : <span> le {{ convocation.day }} à {{ convocation.horaire | date("H:i") }}</span></p>
                {% endfor %}
            {% else %}
                <p> Il n'y a pas encore d'entraînements de programmé pour cette équipe.</p>
            {% endif %}
            <div></div>
        </div>
    </div>


    {% if equipe.widgetId != "" %}
        <iframe class="bloc-score" id="{{ equipe.widgetId }}" height="500"
                src="https://scorenco.com/widget/{{ equipe.widgetId }}/"></iframe>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script>
        let diaporama = new Diaporama(0, "#diapo-", {{ photoEquipes|length }}, 1,
            ".play", ".pause", false, ".chevron-gauche", ".chevron-droit");
        diaporama.ajouterDiaporama();
        let i = 0;
        {% for photoEquipe in photoEquipes %}
                i++;
                let slide{{ photoEquipe.id }} = new Slide($("<img>"), ".diaporama", "diapo-" + i, "diapos",
                    "{{ asset(vich_uploader_asset(photoEquipe, "imageFile") | imagine_filter("equipeAffichage")) }}",
                    "autre photo equipe de basket", 600, 450);
                slide{{ photoEquipe.id }}.ajouterSlide();
        {% endfor %}
        diaporama.affichageHoraire();
        diaporama.playInterval(diaporama.affichageHoraire, 5000);

    </script>


{% endblock %}
