{% extends 'base.html.twig' %}

{% block title %} Page de l'équipe {{ equipe.name | upper }} {% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success SuccessContact">
            {{ message }}
        </div>
    {% endfor %}

    <h1> Equipe {{ equipe.name | upper }} </h1>
    <div class="bloc-training">
        {% for convocation in equipe.convocations %}
            <p> Adresse : {{ convocation.address }}</p>

            <p> Horaire Entrainement : le {{ convocation.day }} à {{ convocation.horaire | date("H:i") }}</p>
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    {% if equipe.widgetId != "" %}
         <iframe class="bloc-score" id="{{ equipe.widgetId }}" height="500"
                 src="https://scorenco.com/widget/{{ equipe.widgetId }}/"></iframe>
    {% endif %}

{% endblock %}