{% extends 'base.html.twig' %}

{% block body %}
    <h1> Equipe {{ equipe.name | upper }} </h1>
    {% for convocation in equipe.convocations %}
        <p> Adresse : {{ convocation.address }}</p>

        <p> Horaire Entrainement : le {{ convocation.day }} à {{ convocation.horaire | date("H:i") }}</p>
    {% endfor %}

{% endblock %}

{% block javascripts %}
    {% if equipe.widgetId != "" %}
         <iframe id="{{ equipe.widgetId }}" height="500" src="https://scorenco.com/widget/{{ equipe.widgetId }}/"
                    style="display: block; width: 50%; overflow: scroll; margin: auto; border-width: 0;"></iframe>
    {% endif %}

{% endblock %}