{% extends 'base.html.twig' %}

{% block title %} Page de l'équipe {{ equipe.name | upper }} {% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success SuccessContact">
            {{ message }}
        </div>
    {% endfor %}

    <h1> Equipe {{ equipe.name | upper }} </h1>
    <div class="d-flex flex-column justify-content-center blocPhoto">
        {% for photoEquipe in photoEquipes %}
            {% if photoEquipe.important == 1 %}
                <div class="aggrandirImage">
                    <img class="imageImportant" src="{{ asset(vich_uploader_asset(photoEquipe, "imageFile") | imagine_filter("equipeAffichage")) }}"
                         alt="photo principale de l'équipe de basket" title="Cliquer pour aggrandir !">
                    <img class="imageAggrandit" src="{{ asset(vich_uploader_asset(photoEquipe, "imageFile")) }}"
                         alt="photo principale de l'équipe de basket aggrandit" title="Cliquer pour réduire !">
                </div>

            {% else %}
                <div class="d-flex flex-column">
                    <img src="{{ asset(vich_uploader_asset(photoEquipe, "imageFile")) }}"
                         alt="autre photo de l'équipe de basket">
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="bloc-training">
        {% for convocation in equipe.convocations %}
            <p> Adresse : {{ convocation.address }}</p>

            <p> Horaire Entrainement : le {{ convocation.day }} à {{ convocation.horaire | date("H:i") }}</p>
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    {% if equipe.widgetId != "" %}
         <iframe class="bloc-score" id="{{ equipe.widgetId }}" height="500"
                 src="https://scorenco.com/widget/{{ equipe.widgetId }}/"></iframe>
    {% endif %}

{% endblock %}